<%= form_for @message do |message_form| %>
  <fieldset>
    <div class="name_field">
      <div class="first_name_field">
        First Name <br>
        <%= message_form.text_field :first_name %>
      </div>

      <div class="surname_field">
        Surname <br>
        <%= message_form.text_field :surname %>
      </div>
    </div>

    <div class="email_field">
      Email <br>
      <%= message_form.email_field :email %>
    </div>

    <div class="message_field">
      Message <br>
      <%= message_form.text_area :content %>
    </div>
  </fieldset>

  <fieldset>
  <div class="send_field">
    <%= message_form.submit "Send" %>
  </div>
  </fieldset>
<% end %>
